p.box {
    width: 300px;
    background-color: #4B0082;
    padding: 10px;
    text-decoration-color: #FFFF00;
}
div.bloc{
    width: 800px;
    height: 70px;
    background-color: #4B0082;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
}
div.bloc1{
    display: -webkit-box;
    width: 300px;
    height: 70px;
    background-color: green;
    padding: 10px;
}
div.bloc2{
    display: -webkit-box;
    width: 150px;
    height: 70px;
    background-color: green;
    padding: 10px;
     border-radius: 0px 10px 10px 0px;
}
.submission-header-viewer {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 16px 10px;
    background: #ffffff;
}