p.box {
    width: 300px;
    background-color: #4B0082;
    padding: 10px;
    text-decoration-color: #FFFF00;
}
div.bloc{
    width: 600px;
    height: 70px;
    background-color: #6BE6AC;
    padding: 10px;
    border-radius: 10px 0px 0px 0px;
}
div.bloc1{
    display: -webkit-box;
    width: 150px;
    height: 70px;
    background-color: #6BE6AC;
    padding: 10px;
}
div.bloc2{
    display: -webkit-box;
    width: 170px;
    height: 70px;
    background-color: #6BE6AC;
    padding: 10px;
     border-radius: 0px 10px 0px 0px;
}
div.bloc3{
    display: -webkit-box;
    width: 920px;
    height: 70px;
    background-color: #6BE6AC;
    padding: 10px;
     border-radius: 0px 0px 10px 10px;
}
div.bloc4{
    display: -webkit-box;
    width: 500px;
    height: 500px;
    background-color: #6BE6AC;
    padding: 10px;
    margin: 10px;
     border-radius: 10px 10px 10px 10px;
}
.submission-header-viewer {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 16px 10px;
    background: #ffffff;
}
.image-button {
  width: 50px;
  height: 50px;
  border: none;
  background-image: url("/static/images/star.jpg");
  background-size: cover;
}
