<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="static/css/main.css">
    <title>{{title}}</title>
    <style>
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#"><h4><p class="box">главная</p></h4></a>
        <a class="navbar-brand" href="#"><h4><p class="box">мои проекты</p></h4></a>
        <a class="navbar-brand" href="#"><h4><p class="box">профиль</p></h4></a>
        <a class="navbar-brand" href="#"><h4><p class="box">регистрация и вход</p></h4></a>
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>