{% extends "base.html" %}

{% block content %}
<h2>{{ name }}</h2>
<h4>{{ raiting }}</h4>
{% for project in projects %}
<header class="submission-header-viewer submission-header-viewer_status_accepted">
    <div class="bloc">
        <h1><a href=/project/{{ project[4] }}>{{ project[0] }}</a></h1>
    </div>
    <div class="bloc1" >
        <h4><a href=/profile/{{ project[5] }}>{{ project[1] }}</a></h4>
    </div>
    <div class="bloc2">
        <h2>{{ project[2] }}</h2>
        <h2>-></h2>
        <p><img src="/static/images/star-icon-transparent-background-4.png" alt="HTML5 Icon" style="width:50px;height:50px;"></p>
    </div>
    <div class="bloc3">
        <p>{{ project[3] }}</p>
    </div>
</header>
{% endfor %}
{% endblock %}
